@model EcommerceDbFirst.Controllers.ProductDetails
@{
    ViewBag.Title = "GetProductDetails";
}

<h2>Product Details</h2>
<br />
Name:  @Model.ProductName <br />
Price: @Model.Price <br />
Stock: @Model.Stock <br />
Category Name: @Model.CategoryName

